/*--------------------------------------*/
/* Global stylings */
/*--------------------------------------*/

html {
	font-size: 100%;
}

body {
	margin:0;
	--color-nav: #fff;
	--color-text: #ff00c4;
	--color-link: #59545e;
	--color-text: #f6fcff;
    --color-bg: #00161f;
	--color-link: #eaf8e9;
    --color-link-hover: #f6fcff;
    --color-slide-text: #f6fcff;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: 'Montserrat Alternates', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: block;
}

*,
*::after,
*::before {
	box-sizing: border-box;	
}

/*--------------------------------------*/
/* Font stylings */
/*--------------------------------------*/

:root {
	/* Step -8: 10.71px → 3.36px */
	--step--8: clamp(0.21rem, 0.8006rem + -0.6562vw, 0.6694rem);
	/* Step -7: 11.43px → 4.19px */
	--step--7: clamp(0.2619rem, 0.8437rem + -0.6464vw, 0.7144rem);
	/* Step -6: 12.20px → 5.24px */
	--step--6: clamp(0.3275rem, 0.8868rem + -0.6214vw, 0.7625rem);
	/* Step -5: 13.02px → 6.55px */
	--step--5: clamp(0.4094rem, 0.9293rem + -0.5777vw, 0.8138rem);
	/* Step -4: 13.89px → 8.19px */
	--step--4: clamp(0.5119rem, 0.9699rem + -0.5089vw, 0.8681rem);
	/* Step -3: 14.82px → 10.24px */
	--step--3: clamp(0.64rem, 1.008rem + -0.4089vw, 0.9263rem);
	/* Step -2: 15.81px → 12.80px */
	--step--2: clamp(0.8rem, 1.0419rem + -0.2687vw, 0.9881rem);
	/* Step -1: 16.87px → 16.00px */
	--step--1: clamp(1rem, 1.0699rem + -0.0777vw, 1.0544rem);
	/* Step 0: 18.00px → 20.00px */
	--step-0: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
	/* Step 1: 19.21px → 25.00px */
	--step-1: clamp(1.2006rem, 1.0972rem + 0.517vw, 1.5625rem);
	/* Step 2: 20.49px → 31.25px */
	--step-2: clamp(1.2806rem, 1.0885rem + 0.9607vw, 1.9531rem);
	/* Step 3: 21.87px → 39.06px */
	--step-3: clamp(1.3669rem, 1.0599rem + 1.5348vw, 2.4413rem);
	/* Step 4: 23.33px → 48.83px */
	--step-4: clamp(1.4581rem, 1.0028rem + 2.2768vw, 3.0519rem);
	/* Step 5: 24.89px → 61.04px */
	--step-5: clamp(1.5556rem, 0.9101rem + 3.2277vw, 3.815rem);
  }

/*--------------------------------------*/
/* Page stylings */
/*--------------------------------------*/

.demo-5 {
	--font-trail-height: 1;
	--font-trail-family: "Syncopate", sans-serif; 
}

/*--------------------------------------*/
/* Page loader  */
/*--------------------------------------*/

.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

/*--------------------------------------*/
/* Hyperlinks */
/*--------------------------------------*/

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}

/*--------------------------------------*/
/* Frame stylings */
/*--------------------------------------*/

.frame {
	position:absolute;
	z-index: 999999;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 2rem 2rem 2rem 2rem;
	pointer-events: auto;
}

.frame__tagline {
	justify-self: end;
	margin: 0;
	text-align: right;
}

.frame__links {
	padding: 0;
	justify-self: start;
	font-weight: 500;
	font-size: var( --step--1);
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.frame__demos {
	margin: 1rem 0;
	justify-self: end;
	font-weight: 600;
	font-size: var( --step--1);
}

.frame__demos:hover, .frame__links:hover {
	font-weight: 800;
	font-size: var( --step--1);
}

/*--------------------------------------*/
/* Content stylings */
/*--------------------------------------*/

.content {
	display: grid; 
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	grid-template-areas: 'main';
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.content__slide {
	grid-area: main;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	grid-template-areas: 'inner';
	align-items: center;
	opacity: 0;
	pointer-events: auto;
}

.content__slide--current {
	opacity: 1;
}

.content__img,
.content__text-wrap {
	grid-area: inner;
	width: 100%;
}

.content__img {
	width: 100%;
	height:100%;
	justify-self: center;
}

.content__img--full::after {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
}

.content__img-inner {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.content__text-wrap {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.content__text {
	font-size: 85px;
	overflow: hidden;
	flex: 1;
	opacity: 0;
	pointer-events: auto;
}

.content__text:nth-child(6) {
	opacity: 1;
}

.content__text--full {
	flex: none;
}

.content__text-inner {
	display: block;
	color: var(--color-slide-text);
	text-transform: uppercase;
	font-weight: var(--font-trail-weight);
	line-height: var(--font-trail-height);
	font-family: var(--font-trail-family);
}

.content__text-inner--bottom {
	transform: translate3d(0,-40%,0);
}

.content__text-inner--stroke {
	-webkit-text-stroke: 2.5px var(--color-slide-text);
	-webkit-text-fill-color: transparent;
	color: transparent;
}

/****************************+ Dataviz ********************************************/

/*--------------------------------------*/
/* Button stylings */
/*--------------------------------------*/

#filters  {
	display: left;
	justify-content: space-evenly;
}

#filters button  {
	border: 0;
	cursor: pointer;
	background: #00161f;
	color: white;
	font-weight: 400;
	line-height: 1.5rem;
	border-radius: 10px;
	font-size: var( --step--2);
	font-family: 'Montserrat Alternates', sans-serif;
}

#filters button:hover {
	border-radius: 40px;	
}

/*--------------------------------------*/
/* Text stylings */
/*--------------------------------------*/

.title {
  margin-bottom: 20px;
  margin-top:20px;
  font-size: var( --step-1);
}

.article {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 100px;
	margin-right: 100px;
	line-height: 1.6rem;
	font-size: var( --step--1);
  }

.chart_title {
	margin-bottom: 30px;
	margin-top:20px;
	font-size: var( --step--1);
  }

.text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  fill:white;
  font-size: var( --step--3);
}

.tspan {
	fill: white;
	font-size: var( --step--3);
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
  }

.text2 {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	fill:white;
	font-size: var( --step--3);
  }

.anotations {
	fill:white;
	font-size: var( --step--1);
  }

.anotations2 {
	fill:white;
	font-size: var( --step--3);
  }

.support {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  border-radius: 10px;
}

.decade {
  color: #1c1423;
  background-color:white;
}

.tropical {
  color: #444952;
  background-color: #ccff99;
} 

/*--------------------------------------*/
/* Chart stylings */
/*--------------------------------------*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  height:100%;
  max-width: 1200px;
}

.super_hurricane {
  fill: #ccff99;
  font-size: var( --step--2);
}

/*--------------------------------------*/
/* Tooltip */
/*--------------------------------------*/

.tooltip {
  font-weight:400;
  font-size:13px;
  margin-left: 100;
  padding: 10px;
  gap: 8px; 
  display: flex;
  flex-direction: row;
  align-items: right; 
  text-align: center;
  color:#444952;
  background-color:#ccff99;
  box-shadow: 1px 3px 8px 
  rgba(34, 84, 114, 0.2);
  border-radius: 3px;
  line-height: 1.4;
}

/*--------------------------------------*/
/* Axes stylings */
/*--------------------------------------*/

.x-violin, .y-violin text {
  font-family:'Montserrat Alternates', sans-serif;
  font-weight:200;
  font-size: var( --step--3);
  opacity:1;
}

.x-axis, .y-axis text {
  font-family:'Montserrat Alternates', sans-serif;
  font-weight:300;
  font-size: var( --step--3);
  opacity:1;
}

.x-axis, .x-violin, .y-axis, .y-violin path {
  stroke-width:0;
  stroke-opacity:0;
  stroke:#8ff798;
}

.x-axis, .x-violin, .y-violin line {
  fill:none;
  stroke-width:0;
  stroke-opacity:1;
  stroke:white;
}

.y-axis line {
  stroke-width:0.1;
  stroke-opacity:1;
  stroke:white;
}

/*--------------------------------------*/
/* Screen stylings */
/*--------------------------------------*/

@media screen and (max-width: 1274px) {

	.content__text {font-size: 65px;}
	#filters button {line-height: 1.5rem; font-size: var( --step--2);}
	.title {font-size: var( --step-1); margin-bottom:20px; margin-top:20px;}
	.chart_title {font-size: var( --step--1); margin-bottom: 30px; margin-top:20px;}
	.frame__demos {font-size: var( --step--1);}
	.frame__links {font-size: var( --step--1);}

	}

@media screen and (max-width: 1000px) {

	.content__text {font-size: 45px;}
	.text {font-size: var( --step--4);}
	.tspan {font-size: var( --step--4);}
	#filters button  {line-height: 1.3rem; font-size: var( --step--3);}
	.title {font-size: var( --step-0); margin-bottom:15px; margin-top:15px;}
	.chart_title {font-size: var( --step--2); margin-bottom: 30px; margin-top:15px;}
	.frame__demos {font-size: var( --step--2);}
	.frame__links {font-size: var( --step--2);}

	}

@media screen and (max-width: 700px) {

	.content__text {font-size: 25px;}
	.content__text-inner--stroke {-webkit-text-stroke: 1px var(--color-slide-text);}
	#filters button  {font-weight: 400; line-height: 1.1rem; font-size: var( --step--4);}
	.title {font-size: var( --step--1); margin-bottom:10px; margin-top:10px;}
	.chart_title {font-size: var( --step--3); margin-bottom: 25px; margin-top:10px;}
	.frame__demos {font-size: var( --step--3);}
	.frame__links {font-size: var( --step--3);}

	}

@media screen and (max-width: 400px) {

	.content__text {font-size: 20px;}	
	.content__text-inner--stroke {-webkit-text-stroke: 1px var(--color-slide-text);}
	.text {font-size: var( --step--6);}		
	.tspan {font-size: var( --step--6);}
	#filters button  {font-weight: 400; line-height: 1rem; font-size: var( --step--8);}
	.title {font-size: var( --step--2); margin-bottom:5px; margin-top:5px;}
	.chart_title {font-size: var( --step--4); margin-bottom: 25px; margin-top:5px;}
	.frame__demos {font-size: var( --step--4);}
	.frame__links {font-size: var( --step--4);}
					
	}