/*--------------------------------------*/
/* Global stylings */
/*--------------------------------------*/

html {
	font-size: 100%;
}

body {
	margin: 0;
	--color-nav: #fff;
	--color-text: #ff00c4;
	--color-link: #59545e;
	--color-text: #f6fcff;
	--color-bg: #00161f;
	--color-link: #eaf8e9;
	--color-link-hover: #ff00c4;
	--color-slide-text: #f6fcff;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: 'Montserrat Alternates', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: block;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/*--------------------------------------*/
/* Font stylings */
/*--------------------------------------*/


:root {
	--step--10: clamp(0.1342rem, 0.1982rem + -0.0826vw, 0.1817rem);
	--step--9: clamp(0.1678rem, 0.2355rem + -0.0874vw, 0.218rem);
	--step--8: clamp(0.2097rem, 0.2797rem + -0.0903vw, 0.2616rem);
	--step--7: clamp(0.2621rem, 0.332rem + -0.0901vw, 0.314rem);
	--step--6: clamp(0.3277rem, 0.3938rem + -0.0854vw, 0.3768rem);
	--step--5: clamp(0.4096rem, 0.4669rem + -0.0739vw, 0.4521rem);
	--step--4: clamp(0.512rem, 0.5532rem + -0.0531vw, 0.5425rem);
	--step--3: clamp(0.64rem, 0.6549rem + -0.0192vw, 0.651rem);
	--step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
	--step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
	--step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
	--step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
	--step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
	--step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
	--step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
	--step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
	--step-6: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);
	--step-7: clamp(4.0311rem, 3.36rem + 3.3555vw, 5.9605rem);
	--step-8: clamp(4.8373rem, 3.9283rem + 4.5448vw, 7.4506rem);
	--step-9: clamp(5.8048rem, 4.5844rem + 6.1017vw, 9.3132rem);
	--step-10: clamp(6.9657rem, 5.3393rem + 8.1319vw, 11.6415rem);
  }

/*--------------------------------------*/
/* Page stylings */
/*--------------------------------------*/

.page {
	--font-trail-height: 1;
	--font-trail-family: "Syncopate", sans-serif;
}

/*--------------------------------------*/
/* Page loader  */
/*--------------------------------------*/

.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}

/*--------------------------------------*/
/* Hyperlinks */
/*--------------------------------------*/

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}

/*--------------------------------------*/
/* Frame stylings */
/*--------------------------------------*/

.frame {
	position: absolute;
	z-index: 999998;
	text-align: center;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: calc(100% - 40px);
	padding: 0.5rem 1.2rem 40px 1rem;
	pointer-events: auto;
}

.frame_links {
	margin: 0rem 0rem 0rem 0rem;
	padding: 0rem 0rem  0.5rem 0rem;
	position: relative;
	width: 100%;
	font-weight: 400;
	font-size: var(--step--3);
	text-align: center;
	line-height: 1;
}

.frame_links a:hover {
	font-weight: 600;
	font-size: var(--step--3);
}

.frame_pages {
	margin: 0rem 0rem 0rem 0rem;
	padding: 0rem 1rem  1rem 0rem;
	font-weight: 400;
	font-size: var(--step--3);
	line-height: 1;
}

.frame_pages:hover {
	font-weight: 600;
	font-size: var(--step--3);
}

.frame_links--intro {
	position: absolute;
	z-index: 999999;
}

.frame_pages a:not(:last-child) {
	margin-right: 0.9rem;
}

/*--------------------------------------*/
/* Content stylings */
/*--------------------------------------*/

.content {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	grid-template-areas: 'main';
	height: 100dvh;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.content__slide {
	grid-area: main;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	grid-template-areas: 'inner';
	align-items: center;
	opacity: 0;
	pointer-events: auto;
}

.content__slide--current {
	opacity: 1;
}

.content__img,
.content__text-wrap {
	grid-area: inner;
	width: 100%;
}

.content__img {
	width: 100%;
	height: 100%;
	justify-self: center;
}

.content__img--full::after {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
}

.content__img-inner {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.content__text-wrap {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.content__text {
	font-size: 85px;
	overflow: hidden;
	flex: 1;
	opacity: 0;
	pointer-events: auto;
}

.content__text:nth-child(6) {
	opacity: 1;
}

.content__text--full {
	flex: none;
}

.content__text-inner {
	display: block;
	color: var(--color-slide-text);
	text-transform: uppercase;
	font-weight: var(--font-trail-weight);
	line-height: var(--font-trail-height);
	font-family: var(--font-trail-family);
}

.content__text-inner--bottom {
	transform: translate3d(0, -40%, 0);
}

.content__text-inner--stroke {
	-webkit-text-stroke: 2.5px var(--color-slide-text);
	-webkit-text-fill-color: transparent;
	color: transparent;
}

/****************************+ Dataviz ********************************************/

/*--------------------------------------*/
/* Button stylings */
/*--------------------------------------*/

#filters {
	display: left;
	justify-content: space-evenly;
}

#filters button {
	border: 0;
	cursor: pointer;
	background: #00161f;
	color: white;
	font-weight: 400;
	line-height: 1.5rem;
	border-radius: 10px;
	font-size: var(--step--2);
	font-family: 'Montserrat Alternates', sans-serif;
}

#filters button:hover {
	border-radius: 40px;
}

/*--------------------------------------*/
/* Text stylings */
/*--------------------------------------*/

.title {
	margin-bottom: 10px;
	margin-top: 20px;
	font-weight: 500;
	font-size: var(--step-2);
}

.chart_title {
	margin-bottom: 50px;
	margin-top: 0px;
	font-weight: 300;
	font-size: var(--step-0);
}

.text {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	fill: white;
	font-size: var(--step--3);
}

.text2 {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	fill: white;
	font-size: var(--step--3);
}

.anotations {
	fill: white;
	font-size: var(--step--1);
}

.anotations2 {
	fill: white;
	font-size: var(--step--3);
}

.support {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 500;
	border-radius: 10px;
}

.decade {
	color: #1c1423;
	background-color: white;
}

.tropical {
	color: #444952;
	background-color: #ccff99;
}

/*--------------------------------------*/
/* Chart stylings */
/*--------------------------------------*/

.container {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	width: 100%;
	height: auto;
	min-height: calc(100% - 40px);
	max-width: 1200px;
}

.super_hurricane {
	fill: #ccff99;
	font-size: var(--step--2);
}

/*--------------------------------------*/
/* Tooltip */
/*--------------------------------------*/

.tooltip {
	font-weight: 400;
	font-size: var(--step--2);
	margin-left: 100;
	padding: 10px;
	gap: 8px;
	display: flex;
	flex-direction: row;
	align-items: right;
	text-align: center;
	background-color: #00161f;
	color: white;
	box-shadow: 1px 3px 8px #ccff99;
	border-radius: 20px;
	line-height: 1.4;
}

/*--------------------------------------*/
/* Axes stylings */
/*--------------------------------------*/

.x-violin,
.y-violin text {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 200;
	font-size: var(--step--3);
	opacity: 1;
}

.x-axis,
.y-axis text {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 300;
	font-size: var(--step--3);
	opacity: 1;
}

.x-axis,
.x-violin,
.y-axis,
.y-violin path {
	stroke-width: 0;
	stroke-opacity: 0;
	stroke: #8ff798;
}

.x-axis,
.x-violin,
.y-violin line {
	fill: none;
	stroke-width: 0;
	stroke-opacity: 1;
	stroke: white;
}

.y-axis line {
	stroke-width: 0.1;
	stroke-opacity: 1;
	stroke: white;
}

/*--------------------------------------*/
/* Screen stylings */
/*--------------------------------------*/

@media screen and (max-width: 1274px) {

	.title {
		font-size: var(--step-0);
		margin-top: 20px;
	}

	.chart_title {
		font-size: var(--step--1);
		margin-top: 20px;
	}

	.frame_pages {
		font-size: var(--step--4);
	}

	.frame_links {
		font-size: var(--step--4);
	}

	.content__text {
		font-size: 65px;
	}

	#filters button {
		line-height: 1.5rem;
		font-size: var(--step--2);
	}
}

@media screen and (max-width: 1000px) {

	.title {
		font-size: var(--step--3);
	}

	.chart_title {
		font-size: var(--step--4);
		margin-top: 20px;
	}

	.frame_pages {
		font-size: var(--step--5);
	}

	.frame_links {
		font-size: var(--step--5);
	}

	.content__text {
		font-size: 45px;
	}

	.text {
		font-size: var(--step--4);
	}

	.tspan {
		font-size: var(--step--4);
	}

	#filters button {
		line-height: 1.3rem;
		font-size: var(--step--3);
	}

}

@media screen and (max-width: 700px) {

	.title {
		font-size: var(--step--5);
	}

	.chart_title {
		font-size: var(--step--6);
		margin-top: 10px;
	}

	.frame_pages {
		font-size: var(--step--7);
	}

	.frame_links {
		font-size: var(--step--7);
	}

	.content__text {
		font-size: 25px;
	}

	.content__text-inner--stroke {
		-webkit-text-stroke: 1px var(--color-slide-text);
	}

	#filters button {
		font-weight: 400;
		line-height: 1.1rem;
		font-size: var(--step--4);
	}
}

@media screen and (max-width: 400px) {

	.title {
		font-size: var(--step--6);
		margin-bottom: 5px;
		margin-top: 5px;
	}

	.chart_title {
		font-size: var(--step--7);
		margin-bottom: 25px;
		margin-top: 5px;
	}

	.frame_pages {
		font-size: var(--step--8);
	}

	.frame_links {
		font-size: var(--step--8);
	}

	.content__text {
		font-size: 20px;
	}

	.content__text-inner--stroke {
		-webkit-text-stroke: 1px var(--color-slide-text);
	}

	.text {
		font-size: var(--step--6);
	}

	.tspan {
		font-size: var(--step--6);
	}

	#filters button {
		font-weight: 400;
		line-height: 1rem;
		font-size: var(--step--8);
	}

}