/*--------------------------------------*/
/* Page stylings */
/*--------------------------------------*/

html,body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight:300;
  font-size:14px;
  color: white;
  background-color:#687d73;
}


/*--------------------------------------*/
/* Text stylings */
/*--------------------------------------*/

#h1 {
  font-size: 30px;
  color:white;
  margin-bottom: 10px;
  font-weight:500;
}

.h2 {
  margin-top: 0px;
  font-size: 1rem;
  margin-bottom: 5px;
  margin-right: 50px;
  color:black;
  font-weight:300;
}

.h3 {
  margin-top: 0px;
  font-size: 14px;
  margin-bottom: 5px;
  color:white;
  font-weight:400;
}

#h4 {
  margin-top: 5px;
  font-size: 1rem;
  margin-bottom: 5px;
  color:white;
  font-weight:300;
}

#h5 {
  margin-top: 5px;
  font-size: 1rem;
  margin-bottom: 0px;
  color:white;
  font-weight:400;
}

#link {
  font-size: 8px;
  font-weight:300;
}

a:link, a:active, a:visited {
  margin-top:0.5px;
  color:white;
  font-weight:300;
}

a:hover {
  margin-top:0.5px;
  color:white;
  font-weight:400;
}

/*--------------------------------------*/
/* Tooltip stylings */
/*--------------------------------------*/

.tip {
  font-family:'Montserrat Alternates', sans-serif;
  font-weight:700;
  font-size:17px;
  color:#f20666;
  margin-left: 100px;
  padding: 10px;
  gap: 8px; 
  width: 12em;
  display: flex;
  flex-direction: row;
  align-items: center; 
  text-align: left;
  background-color: #ffffff;
  box-shadow: 1px 3px 8px 
  rgba(34, 84, 114, 0.2);
  border-radius: 3px;
  line-height: 1.4;
}

