/*--------------------------------------*/
/* Page stylings */
/*--------------------------------------*/

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight:300;
  font-size:14px;
  color: white;
  background-color:#444952;
  line-height: 1.4;
}

/*--------------------------------------*/
/* Text stylings */
/*--------------------------------------*/

h1 {
  font-size: 28px;
  color:white;
  margin-bottom: 10px;
  font-weight:450;
}

.text {
  margin-top: 0px;
  font-size: 13px;
  margin-bottom: 5px;
  color:white;
  font-weight:300;
}

@media screen and (max-width: 596px) {
  h1 {
    font-size: 3rem;
  }
}

/*--------------------------------------*/
/* Chart stylings */
/*--------------------------------------*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  max-width: 1200px;
}

.responsive-svg-container {
  width: 100%;
  max-width: 800px;
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

@media screen and (max-width: 820px) {
  .col {
    margin-bottom: 30px;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*--------------------------------------*/
/* Footer and link stylings */
/*--------------------------------------*/

.footer {
  padding: 50px 0 30px;
  margin-top:20px;
  font-size: 8px;
  font-weight:300;
}

a:link, a:active, a:visited {
  margin-top:20px;
  color:white;
  font-weight:300;
}

a:hover {
  margin-top:20px;
  color:white;
  font-weight:400;
}