/*--------------------------------------*/
/* Page stylings */
/*--------------------------------------*/

html,body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight:300;
  font-size:14px;
  color: white;
  background-color:#444952;
}

/*--------------------------------------*/
/* Text stylings */
/*--------------------------------------*/

#h1 {
  font-size: 28px;
  color:white;
  margin-bottom: 10px;
  font-weight:450;
}

.h2 {
  margin-top: 0px;
  font-size: 13px;
  margin-bottom: 50px;
  margin-right: 50px;
  color:black;
  font-weight:200;
}

.h3 {
  margin-top: 0px;
  font-size: 13px;
  margin-bottom: 5px;
  color:white;
  font-weight:300;
}

#h4 {
  margin-top: 5px;
  font-size: 1rem;
  margin-bottom: 5px;
  color:white;
  font-weight:300;
}

#h5 {
  margin-top: 5px;
  font-size: 1rem;
  margin-bottom: 0px;
  color:white;
  font-weight:400;
}

#link {
  margin-top:20px;
  font-size: 8px;
  font-weight:300;
}

a:link, a:active, a:visited {
  margin-top:20px;
  color:white;
  font-weight:300;
}

a:hover {
  margin-top:20px;
  color:white;
  font-weight:400;
}


